<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- UrlRewriteFilter -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.wdcode.site.filter.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>ERROR</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>*.html</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- wd 监听 -->
	<listener>
		<listener-class>org.wdcode.back.listener.BackInitListener</listener-class>
	</listener>

	<!-- spring 监听 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- spring 配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring.xml</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>Shop</param-value>
	</context-param>
	
	<!-- 过滤器 是否登录 -->
	<filter>
		<filter-name>checkLogin</filter-name>
		<filter-class>org.wdcode.site.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>login</param-name>
			<param-value>user</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>checkLogin</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Spring Security -->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>
            org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/back/*</url-pattern>
    </filter-mapping>
    
	<!-- 过滤器 -->
	<!-- hibernate session 过滤器 <filter> <filter-name>hibernateSession</filter-name> 
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>hibernateSession</filter-name> <url-pattern>*.htm</url-pattern> 
		<dispatcher>REQUEST</dispatcher> <dispatcher>FORWARD</dispatcher> <dispatcher>INCLUDE</dispatcher> 
		</filter-mapping> -->

	<!-- struts2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>config/struts.xml</param-value> 
		</init-param>  
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
 
	<!-- wdstatic包用 -->
	<filter>
		<filter-name>templateFilter</filter-name>
		<filter-class>org.wdcode.site.filter.StaticFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>templateFilter</filter-name>
		<url-pattern>/wdstatic/*</url-pattern>
	</filter-mapping>

	<!-- 欢迎页 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>shop/index.htm</welcome-file>
		<welcome-file>back/index.htm</welcome-file>
	</welcome-file-list>
</web-app>