#body {
	margin: 0px;
}
#login_top {
	height: 26%;
	width: 100%;
	background: #00309c;
	position: relative;
}

#login_main {
	height: 48%;
	width: 100%;
	background: #5a7edc;
	position: relative;
}

#login_foot {
	height: 26%;
	width: 100%;
	background: #00309c;
}

#login_content {
	position: absolute;
	text-align: center;
	top: 20%;
	left: 30%;
}

#login_content div {
	margin: 20px;
}

#login_caption {
	position: absolute;
	text-align: center;
	top: 70%;
	left: 30%;
	color: #ffffff;
	font: bold 48px;
}

.login_input {
	width: 150px;
}

#verify{
	
}

#verify img{
	vertical-align: top;
	margin-left: 5px;
	position: absolute;
}

#left_body {
	background: #799AE1;
	margin: 5px;
}

#menu_top_img {
	width: 158px;
	height: 38px;
	border: 0px;
}

.menu_main_table {
	width: 100%;
}

.menu_main_td {
	height: 27px;
	cursor: hand;
	background: url("../images/menu.gif") no-repeat;
	font-weight: bold;
	text-align: center;
}

.menu_table {
	width: 166px;
	text-align: center;
	margin-left: 1px;
}

.menu_td {
	padding: 3px;
	background: #F7F7F7;
	height: 23px;
}

#title_table {
	margin: 0 -5px;
}

#exit {
	text-align: center;
	background: url("../images/title_exit.gif") no-repeat;
}

#exit a {
	color: #215dc6;
	font-weight: bold;
	margin: 0 5px;
}

#userInfo {
	height: 97px;
	text-align: center;
	background: url("../images/title_admin.gif") no-repeat;
}

#userInfo table {
	width: 148px;
}

#userInfo table td {
	text-align: center;
}

#main_table {
	width: 100%;
	height: 100%; 
}

#left_td {
	background: #3a6592;
	height: 100%;
	vertical-align: middle;
	width: 130px; 
}

#left_frame {
	z-index: 2;
	width: 131px;
	height: 100%;
	visibility: inherit;
	overflow: hidden;
}
 
#switch { 
	font-family: Webdings;
	color: #ffffff;
	font-size: 10px;
	cursor: hand;
}

#top_td {
	height: 61px;
}

#top_frame {
	z-index: 1;
	width: 100%;
	height: 61px;
	visibility: inherit;  
}

#main_td {
	height: 100%;
}

#main_frame {
	z-index: 4;
	width: 100%;
	height: 100%;
	visibility: inherit; 
}

#main_top{
	margin-top: 5px;
}

#main_top span{
	font-weight: bold;
	font-size: 14px;
	margin: 20px;
	color: navy;
}

.hide {
	display: none;
}
 
#page_main {
	list-style: none;
}

.page_cue_span {
	color: red;
}

#page_curr {
	color: red;
	margin: 5px;
}

.page_link {
	margin: 5px;
}

#page_num {
	size: 30px;
	height: 15px;
	width: 30px;
}

#page_go {
	padding: 0px;
	color: #ffffff;
	background-color: #885588;
	font-size: 9px;
}

.errorMessage {
	list-style: none;
	text-align: center;
	color: red;
}

.actionMessage {
	list-style: none;
	text-align: center;
	color: red;
}
 
.submit {
	width: 70px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	outline: none;
	cursor: pointer;
	color: #555555;
	font-size: 12px;
	outline: none;
	border: none;
	background: url(../images/base_button.gif) 0px 0px no-repeat;
}

.submit:hover {
	color: #ff9900;
	background: url(../images/base_button.gif) -90px 0px no-repeat;
}

#theme_table {
	width: 90%;
	border: 1px solid #6595d6;
	background: #ffffff;
	text-align: center;
}

#theme_table th,td {
	/*white-space: nowrap;*/	
	overflow: hidden;
	word-break: break-all;
}

.td_title {
	color: #ffffff;
	background: #4455aa;
	height: 23px;
	font-weight: bold;
	font-size: 14px;
}

.td_content {
	background: #dee5fa;
}

.td_head {
	color: #ffffff;
	background: #799ae1;
	height: 22px;
	font-weight: bold;
}

.td_show {
	background: #dee5fa;
	font-weight: bold;
	width: 80px;
}

.td_input {
	background: #dee5fa;
	text-align: left;
	width: 350px;
}
 
 
.textarea_long {
	margin: 5px 5px 5px 40px;
	overflow: hidden;
	height: 300px;
	width: 278%;
}

.select {
	margin: 5px 5px 5px 40px;
	width: 300px;
}

.double_left_select{
	margin: 5px 20px 5px 40px;
	width: 300px;
}

.double_rigth_select{
	margin: 5px 40px 5px 20px;
	width: 300px;
}

.label {
	margin: 5px 5px 5px 40px;
	width: 300px;
	font-weight: bold;
	font-size: 14px;
}

.content{
	margin: 5px 5px 5px 40px;
	width: 278%;
}

#select_table .td_input .select {
	margin: 5px;
}

#select_table .td_input .text {
	margin: 5px;
}