<?xml version="1.0" encoding="UTF-8"?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 输出到控制台 -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<!-- 滤镜设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<!-- 异步打印控制台 -->
	<appender name="ASYNC_CONSOLE" class="org.apache.log4j.AsyncAppender">
	    <param name="BufferSize" value="512"/> 
	    <appender-ref ref="Console"/>
   	</appender>

	<!-- 输出到文件 -->
	<appender name="File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${path}/logs/logs.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="1000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} - %-5p -%c %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<!-- 异步输出到文件 -->
	<appender name="ASYNC_FILE" class="org.apache.log4j.AsyncAppender">
	    <param name="BufferSize" value="1024"/> 
	    <appender-ref ref="File"/>
   	</appender>
	  
	<root>
		<!-- 日志级别 -->
		<priority value ="warn"/>
		
		<!-- 控制台信息   -->
		<appender-ref ref="ASYNC_CONSOLE" /> 
 		
		<!-- 文件输出  
		<appender-ref ref="ASYNC_FILE" />
		 -->
	</root>
</log4j:configuration>

