<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- 保存属性 -->
	<save>
		<!-- 保存属性的方式 -->
		<attribute>cookie</attribute>
	</save>
	
	<!-- 后台action命名空间 -->
	<namespace>
		<back>/back</back>
	</namespace>
	
	<!-- 关于权限的配置 -->
	<role>
		<!-- 所有权限的角色ID -->
		<all>1</all>
	</role>
	  
	<!-- 加密配置 -->
	<encrypt>
		<!-- 加密Key -->
		<key>http://www.wdcode.org</key>
	</encrypt>	
	  
	<!-- 登录 -->
	<login>
		<filter> 
			<special>login,index,.js,.css,.gif,.png,.jpg,.ico,verify,/back,/goods,/article,/category,/leave</special> 
			<index>/</index>
		</filter> 
		<logs>true</logs>
		<statistics>true</statistics>
	</login>
	
	<back>
		<login>Admin</login>
	</back>
	
	<!-- 操作 -->
	<operate><logs>true</logs></operate>
	
	<!-- 页面 -->
	<page>
		<logs>true</logs>
		<statistics>true</statistics>
	</page> 
	
	<!-- 缓存 -->
	<cache><valid>true</valid></cache> 
	
	<!-- 支付 -->
	<pay>
		<alipayPartner>
			<enabled>true</enabled>
		</alipayPartner>
		<alipayDirect>
			<enabled>true</enabled>
		</alipayDirect>
		<tenpayDirect>
			<enabled>true</enabled>
		</tenpayDirect>
		<tenpayPartner>
			<enabled>true</enabled>
		</tenpayPartner>
		<yeepay>
			<enabled>true</enabled>
		</yeepay>
		<pay99bill>
			<enabled>true</enabled>
		</pay99bill>
		<offline>
			<enabled>true</enabled>
		</offline>
		<deposit>
			<enabled>true</enabled>
		</deposit>
	</pay>
</config>
